* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: #333;
    min-height: 100vh;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 2px, 2px, 4px rgb(151, 151, 151);
}

header h3 {
    font-size: 1.2rem;
    opacity: 0.9;
}

main {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.input-section,
.planet-section,
.loading {
    margin-bottom: 0 auto 30px;
    text-align: center;
}

#generate-planet {
    text-align: center;
    margin-bottom: 40px;
}

#api-key-section,
 #configuration {
    margin-bottom: 25px;
}

#biome,
#size,
#life,
#story {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.api-key-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading.show {
    display: block;
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid white;
    border-top: 5px solid blue;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto 20px;

}

@keyframes spin {
    0% {transform: rotate(0deg); }
    100% {transform: rotate(360deg);}
}


